<h1>Hello World from index !</h1>

<a href="/demo/hello">Hello Page 1</a><br/>
<%= link_to('Hello Page 2',{:action=>'hello'})%><br/>

<%= link_to('Hello Page with parameters',{:action=>'hello',:page=>5,:id=>20})%><br/>
