<%= link_to("<< Back to list", sections_path, :class => 'back-link')%>
<div class= "sections new">
  <h2> Create Section </h2>

  <%= form_for(@section) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f})%>

</div>

  <div class= "form-buttons">
    <%= f.submit("Create Section")%>
  </div>
  <%end%>
